extends layout

block content
  h1= title
  p Could bootstrap server data here: #{title}
  a(href='/') Home<br>
  a(href='/posts') Posts

  div(ng-controller='MainCtrl')
  div(ng-controller='PostsCtrl')
  div(ng-view)
