doctype html
html(ng-app='sniplet')
  head
    meta(charset="UTF-8")
    base(href="/")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-controller='MainCtrl')
    block content

    script(src='/libs/lodash/lodash.js')
    script(src='/libs/angular/angular.js')
    script(src='/libs/angular-ui-router/release/angular-ui-router.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/appRoutes.js')

    script(src='/javascripts/controllers/MainCtrl.js')

    script(src='/javascripts/services/postService.js')
    script(src='/javascripts/directives/postsList.js')
    script(src='/javascripts/directives/createPost.js')
    script(src='/javascripts/directives/post.js')
